.name {
  width: 300px;
  margin-left: 60px;
}

.img {
  position: relative;
  left: 10px;
  height: 300px;
  width: 300px;
  border-radius: 20px;
  background-size: cover;
  background-position: center center;
}

.container {
  display: inline-block;
  float: left;
  margin: 20px;
  height: 275px;
  width: 200px;
  border-radius: 20px;
  text-align: center;
}

.square {
  display: inline-block;
  margin: 5px;
  float: left;
}

.square-container {
  width: 400px;
}
